[submodule "cms-git-tools"]
	path = cms-git-tools
	url = https://github.com/cms-sw/cms-git-tools.git
[submodule "catppuccin-alacritty"]
	path = catppuccin-alacritty
	url = https://github.com/catppuccin/alacritty
