"" Source your .vimrc
source ~/.vim/vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
"map Q gq


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc

nnoremap H ^
nnoremap L $

nnoremap <leader>w2 :vs<cr>
nnoremap <leader>w3 :sp<cr>

map ]b :tabnext<cr>
map [b :tabprev<cr>

map <leader>r <action>(Run)
map s <NOP>
map <leader>s <action>(Stop)

map K <action>(ShowHoverInfo)
map gh <action>(ShowHoverInfo)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>

nnoremap gcc :action CommentByLineComment<CR>
vnoremap gc :action CommentByLineComment<CR>
nnoremap gbc :action CommentByBlockComment<CR>
vnoremap gb :action CommentByBlockComment<CR>

